{% extends 'base.html.twig' %}

{% block title %}
  Newsletter
{% endblock %}

{% block body %}
  {# {% for message in app.flashes('message') %}
    <div>
      {{ message }}
    </div> #}
  <div id="newsletters"></div>
  <section id="newsletter">
    <div class="picture"></div>
    <article class="welcome">
      <h2>
        Ne ratez pas nos infos mensuels
      </h2>
      <p>
        Nos newsletters sont basées sur des informations utiles pour un site
        internet éfficace.
      </p>
      {{ form_start(form) }}
      <div class="form-floating">
        {{ form(form) }}
      </div>
      {{ form_end(form) }}
    </article>
  </section>
{% endblock %}
