{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}
  {# faire un FAQ avec accordéon, utilisation de toogle #}
  <div class="faq-titre-area">
    <h1 class="titre-faq">
      Foire aux questions
    </h1>
    <p class="paragraphe-faq">
      En tant qu’agence de web marketing spécialisée dans le référencement
      naturel SEO, la rédaction web, la création de sites internet, le
      référencement payant, les réseaux sociaux…, nous avons compilé cette liste
      de questions fréquemment posées par nos clients (FAQ).
    </p>
  </div>
  <div class="accordion">
    <div class="box">
      <div class="label">
        Quel est le délai de mise en ligne de mon site Internet ?
      </div>
      <div class="content">
        Une fois le premier rendez-vous réalisé, il faut compter 3 à 4 mois
        avant la validation du site et sa mise en ligne. Ces délais peuvent
        varier en fonction des éléments suivants : date de validation du logo,
        délai d’envoi du contenu texte et images. Pour vous garantir un délai de
        livraison plus court, nous vous invitons à nous répondre et nous envoyer
        vos éléments le plus rapidement possible.
      </div>
    </div>
    <div class="box">
      <div class="label">
        J'aimerais être conseillé dans ma communication digitale, comment faire
        ?
      </div>
      <div class="content">
        Nous vous invitons à nous contacter pour planifier un point de suivi
        avec l’un de nos experts. Nous vous conseillons et vous proposerons des
        idées pour améliorer votre visibilité en ligne.
      </div>
    </div>
    <div class="box">
      <div class="label">
        Comment vous transmettre mes demandes de modifcations ?
      </div>
      <div class="content">
        Pour toute question ou demande liée à votre projet, nous vous invitons à
        nous contacter à cette adresse : mackayleblanc.conrad@gmail.com ou
        directement dans votre expace client. Vous avez l’intention de nous
        transmettre des fichiers volumineux ? Nous vous conseillons d’utiliser
        We Transfer (Indiquez le motif de votre envoi et le destinataire :
        mackayleblanc.conrad@gmail.com.).
      </div>
    </div>
    <div class="box">
      <div class="label">
        Je veux être référencé en première page Google, comment dois-je faire ?
      </div>
      <div class="content">
        Nox expert en référencement naturel sont là pour vous aider, nous
        mettons tout en oeuvre pour vous positionner dans les meilleurs
        positions Google. Les premiers résultats sont visibles entre 3 à 6 mois
        après la mise en ligne du site Internet.
      </div>
    </div>
    <div class="box">
      <div class="label">
        J'ai déjà un site Internet, comment puis-je conserver mon référencement
        sur mon nouveau site ?
      </div>
      <div class="content">
        Afin de conserver le référencement naturel de votre site Internet, nous
        mettrons en place des redirections d’urls. Cela permettra également de
        limiter le nombre d’erreurs 404. Il ne devrait donc pas y avoir de perte
        de positions entre l’ancien et le nouveau site. Pour en savoir plus,
        n’hésitez pas à nous contacter.
      </div>
    </div>
    <div class="box">
      <div class="label">
        Je rencontre un problème technique, que faire ?
      </div>
      <div class="content">
        Appelez-nous au 00 00 00 00 00 ou envoyez-nous un mail à l’adresse :
        leblancmackay.conrad@gmail.com. Nous interviendrons dans les plus brefs
        délais pour régler votre problème technique sur le site.
      </div>
    </div>
    <div class="box">
      <div class="label">
        Puis-je réaliser moi-même des modifcations sur mon site ?
      </div>
      <div class="content">
        Vous avez la possibilité de nous demander les accès au back-office de
        votre site Internet. Après une formation en agence, vous saurez comment
        modifier le contenu texte et image de votre site Internet (création de
        nouvelles actualités, modifications du contenu des pages…).
      </div>
    </div>
    <div class="box">
      <div class="label">
        A quoi sert une fiche Google My Business ?
      </div>
      <div class="content">
        Google My Business permet de centraliser sur une seule plateforme toutes
        les informations importantes relatives à votre entreprise (adresse,
        numéro de téléphone, lien vers votre site, horaires d’ouverture…). Elle
        favorise votre référencement local (votre fiche sera visible en tête de
        résultats de recherche sur votre ville ou votre département) et permet
        de générer des visites vers votre site Internet.
      </div>
    </div>
  </div>
{% endblock %}
