{% extends 'base.html.twig' %}

{% block title %}
  Nos services
{% endblock %}

{% block body %}
  <main class="presentation-services">
    <div class="container">
      <h1 class="nos-services">
        Nos services
      </h1>
      <section>
        <p>
          Expertises
        </p>
        <p>
          Identifier, comprendre et répondre précisément à vos besoin
          stratégiques, marketing, digitaux et créatifs : voilà ce qui nous
          anime chaque jour !
        </p>
        <p>
          Notre objectif : vous aider à développer votre entreprise en nous
          appuyant sur notre expertise et marketing et en communication globale
          et digitale. Image de marque, stratégie de communication, ourils de
          communication, promotion de marques : ensemble, nous définissons votre
          cahier des charges au coups de sessions productifs et conviviaux.
        </p>
      </section>
      <div class="half-half-image-text">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <h2>
                Construire une marque forte
              </h2>
            </div>
          </div>
          <div class="row block-text">
            <div class="col-12 col-lg-6">
              <div class="contenu-page-service">
                <p class="contenu-identite-service">
                  Créer une marque et une identité de marque mémorable est
                  primordial. Bien plus qu'un nom ou qu'un simple symbole, votre
                  image de marque vous permettra de vous démarquer et de rester
                  présent dans l'esprit de vos clients. Actif immatériel de
                  votre société, nous vous aidons à briser les codes et à vous
                  réinventer. Nous nous focalisons sur les attentes de votre
                  cible pour créer des messages uniques et originaux.
                </p>
                <p class="contenu-identite-service">
                  Chez KOKO ET KUNDER, nous vous aidons à briser les codes et à
                  vous reinventer. Nous nous focalisons sur vos attentes de
                  votre cible pour créer une stratégie, un site unique et
                  originaux.
                </p>
                <p class="contenu-identite-service">
                  Le but est de vous attirer, de vous fidéliser. Ensemble, nous
                  definirrons les dimesion clefs de votre marque ainsique ses
                  fonctions. Depuis la stratégie jusqu'à la création de votre
                  plateforme de marque, notre équipe se mobilise pour vos marque
                  "corporate", produit...
                </p>
                <p class="contenu-identite-service">
                  Pour créer votre identité, unique et identifiable par votre
                  cible, nous reunissons les compétences et expertises de toute
                  notre équipe :

                  Un expert en marketing stratégique: mise en place d'une
                  stratégie marketing adaptée aux atttentes de votre cible et en
                  cohérence avecvos objectifs de rentabilité.

                  Un expert en developpement web, création de votre site
                  internet via les technologie (PHP, React.Js, HTML/ CSS, JS...)
                  et définition des principes d'utilisation de votre site.
                </p>
              </div>
            </div>
            <div class="col-12 col-lg-6">
              <div class="image-communication-services"
                style="background: url('https://images.pexels.com/photos/89784/bmw-suv-all-terrain-vehicle-fog-89784.jpeg?cs=srgb&dl=automobile-bmw-car-89784.jpg&fm=jpg')no-repeat center;background-size:cover;"></div>
            </div>
          </div>

          {# Deuxieme partie de la page #}
          <div class="row block-text">
            <p class="contenu-identite-service">
              Définir une stratégie de communication efficace et pertinante pour
              votre entreprise. La construction d'une stratégie de communication
              puissante et reussi est un levier incourournable pour developper
              et pérenniser votre activité.
            </p>
            <p class="contenu-identite-service">
              Nous nous concerntrons sur pour public cible, vos objectifs de
              communication, vos messages, votre marché et votre positionnement.
            </p>
            <p class="contenu-identite-service">
              Nous ne négligeons aucun élément pour vous apporter nos meilleurs
              conseils sur la défnition de votre plan de communication et
              l'orientation de votre stratégie de communication. Respect de
              votre budjet et de vos moyens opérationnels : notre principal
              occupation !
            </p>
            <p class="contenu-identite-service">
              Pour vous accompagner :
            </p>
            <p class="contenu-identite-service">
              Deux experts en communication et dont tous deux sont ici également
              d'une formation en code informatique pour coordonner votre projet
              à deux et suivre sa progression.
            </p>
            <div>
              <div class="image-communication-services"
                style="background: url('https://images.pexels.com/photos/89784/bmw-suv-all-terrain-vehicle-fog-89784.jpeg?cs=srgb&dl=automobile-bmw-car-89784.jpg&fm=jpg')no-repeat center;background-size:cover;"></div>
            </div>
          </div>

          {# troisieme partie de la page #}
          <div class="row block-text">
            <div class="col-12">
              <h2>
                Choisir les bons outils de communication pour atteindre vos
                objectifs
              </h2>
            </div>
          </div>
          <div class="row block-inverse block-text">
            <div class="col-12 col-lg-6">
              <div class="contenu-page-service">
                <p class="contenu-identite-service">
                  Pour maximiser son impact, une communication réussie s'appuie
                  sur de soutils pertinents choisis avec soin.
                </p>
                <p class="contenu-identite-service">
                  Communication visuelle et graphie, corporate, média et
                  hors-média, internet, marketing direct, événementiel,
                  publicité, relations publiques, sponsoring, merchandising,
                  promotion de vente, etc. chaque moyen de communication a ses
                  supports spécifiques.
                </p>
                <p class="contenu-identite-service">
                  Quels sont vos enjeux et vos objectis de communication ?
                  Quelle est votre cible et quel message souhaitez-vous lui
                  adresser ? Quel est l'axe de communication de votre campagne
                  publicitaire ?
                </p>
                <p class="contenu-identite-service">
                  Autant de questions auxquelles nous répondrons pour définir
                  les ourils de communication à votre entreprise et pour
                  augmenter votre ROI.
                </p>
              </div>
            </div>
            <div class="col-12 col-lg-6">
              <div class="image-communication-services"
                style="background: url('https://images.pexels.com/photos/89784/bmw-suv-all-terrain-vehicle-fog-89784.jpeg?cs=srgb&dl=automobile-bmw-car-89784.jpg&fm=jpg')no-repeat center;background-size:cover;"></div>
            </div>
          </div>

          <div class="row block-text">
            <div class="col-12 col-lg-6">
              <div class="contenu-page-service">
                <p class="contenu-identite-service">
                  Promouvoir et valoriser votre marque. Les trois choses els
                  plus importantes pour une entreprise : communiquer,
                  communiquer et communiquer.
                </p>
                <p class="contenu-identite-service">
                  Vous voulez augmenter votre CA, lancer un nouveau produit,
                  améliorer votre image de marque ou devenir incourtounable :
                  metter votre communication en mouvement, animer vos
                  commununautés et créer du lien avec vos clients.
                </p>
                <p class="contenu-identite-service">
                  Action marketing multicales, omnicales ou cross-canal : vous
                  devez être présentau bon endroit et au bon moment et
                  communiquer éfficassement avec vos clients et prospects.
                </p>
                <p class="contenu-identite-service">
                  Avec notre équipe, nous vous aidons à faire du bruit et à
                  developper votre notoriété : pilotage quotidien des opération
                  de communication, optimisation et ajustement des actions
                  marketing, animation journaliere de votre commununauté, etc.
                </p>
                <p class="contenu-identite-service">
                  Nos chefs de projet vous accompagnent et coordonnent votre
                  plan de comunication et dans la reussite de votre site
                  internet. Nous construisons votre univers : percutant,
                  cohérent, innovant et unique !
                </p>
                <div class="bouton-souligner">
                  <a href="{{ path('app_contacts') }}"
                    class="contenu-identite-service button-to-meet">
                    RENCONTRONS-NOUS !
                  </a>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-6">
              <div class="image-communication-services"
                style="background: url('https://images.pexels.com/photos/89784/bmw-suv-all-terrain-vehicle-fog-89784.jpeg?cs=srgb&dl=automobile-bmw-car-89784.jpg&fm=jpg')no-repeat center;background-size:cover;"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}
