<div class="global-test">
  <div class="lignes">
    <div class="l1"></div>
    <div class="l2"></div>
  </div>
  <div class="container-first">
    <h1>
      Votre ambition est la notre
    </h1>
    <div class="container-btns">
      <button class="btn-first b1">Partagez nous votre demande</button>
      {# <button class="btn-first b2">Contact</button> #}
    </div>
  </div>
  <img src="images/koko.png" class="logo" />
  <ul class="medias">
    <li class="bulle"><img src="icons/facebook.png" class="logo-medias" /></li>
    <li class="bulle"><img src="icons/linkedin.png" class="logo-medias" /></li>
    <li class="bulle"><img src="icons/twitter.png" class="logo-medias" /></li>
  </ul>
</div>
{% block javascripts %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"></script>
  <script src="app.js"></script>
{% endblock %}
