<div id="global-test">
  <div class="lignes">
    <div class="l1"></div>
    <div class="l2"></div>
  </div>
  <div class="container-first">
    <h1>
      {{ titre_seo }}
    </h1>
    <div class="container-btns">
      <button class="btn-first b1">Contactez-nous</button>
      {# <button class="btn-first b2">Contact</button> #}
    </div>
  </div>
  <img src="images/m.k.logo.jpg" class="logo" />
  <ul class="medias">
    <li class="bulle"><img src="icons/facebook.png" class="logo-medias" /></li>
    <li class="bulle"><img src="icons/linkedin.png" class="logo-medias" /></li>
    <li class="bulle"><img src="icons/twitter.png" class="logo-medias" /></li>
  </ul>
  <div class="down_arrow">
    <a class="ca3-scroll-down-link ca3-scroll-down-arrow"
      data-ca3_iconfont="ETmodules"
      data-ca3_icon="">

    </a>
  </div>
</div>
