{% extends 'base2.html.twig' %}
{% block title %}
  SEO
{% endblock %}
{% block body %}
  <main class="toto-seo">
    {# <div> #}
    <div class="circle">
      <div class="logo-seo"></div>
      <div class="page-seo">
        <p>
          SEO - SEO - SEO - SEO - SEO - SEO -
        </p>
      </div>
    </div>
    {# </div> #}
    <div class="main-page-seo">
      <div class="row block-page-seo">
        <div class="col-12 col-lg-6 animated-block-image">
          <div class="contenu-page-seo">
            <p class="contenu-para-seo">
              Votre site Internet en première page de Google. La visibilité de
              votre site sur Google est vitale. Au sein de notre agence, notre
              équipe met en place une stratégie de référence propre et de
              qualité. Ainsi nos actions sont pensées à l'épreuve des mises à
              jour de Google. Nous optimisons les performances techniques de
              votre sitet, sa structure, son contenu ainsi que son profil de
              liens entrants. Nous sortons également votre site de toute
              pénalité algorithmique (Pingouin et Panda) et manuelle. Nous vous
              accompagnons dans la mise en place de votre stratégie de
              référencement naturel et nous vous proposons des solutions
              adaptées à votre budget.
            </p>
          </div>
          {# </div> #}
          <div class="col-12 col-lg-6">
            <div class="image-page-seo">
              <img class="images-seo"
                src="{{ asset('/images_page_seo/seo-serp.jpg') }}"
                alt="image_seo" />
            </div>
          </div>
        </div>
        <div class="contenu-page-seo animated-block-right">
          <p class="contenu-para-seo">
            Votre site Internet en première page de Google. La visibilité de
            votre site sur Google est vitale. Au sein de notre agence, notre
            équipe met en place une stratégie de référence propre et de qualité.
            Ainsi nos actions sont pensées à l'épreuve des mises à jour de
            Google. Nous optimisons les performances techniques de votre sitet,
            sa structure, son contenu ainsi que son profil de liens entrants.
            Nous sortons également votre site de toute pénalité algorithmique
            (Pingouin et Panda) et manuelle. Nous vous accompagnons dans la mise
            en place de votre stratégie de référencement naturel et nous vous
            proposons des solutions adaptées à votre budget.
          </p>
        </div>
      </div>
      <div class="container titi">
        <button class="custom-btn btn-12">
          <span>N'hesitez pas à nous contacter !</span><span>Vous êtes interresé
            ?</span>
        </button>
      </div>
      <div class="row block-page-seo">
        <div class="referencement-seo">
          <div class="block-referencement-naturel animated-block-left">
            <h2 class="titre-reference-naturel">
              Qu'est ce que le référencement naturel ?
            </h2>
            <p>
              Le SEO (Search Engine Optimization) est l’art d’améliorer le
              positionnement d’un site et d’augmenter le trafic. Par exemple,
              vous possédez un site Web qui vend des chaussures en cuir et de la
              maroquinerie et vous voudriez apparaître comme le premier résultat
              de recherche à chaque fois qu’un client potentiel recherche la
              phrase «acheter chaussures en cuir» sur Google. Pour comprendre la
              définition du référencement, il faut savoir qu’il s’agit d’un
              terme générique et il comprend de nombreuses stratégies
              différentes. Il existe de nombreuses façons d’améliorer la qualité
              de votre positionnement.
            </p>
          </div>
        </div>
      </div>
      <div class="row block-page-seo">
        <div class="referencement-seo">
          <div class="block-referencement-naturel animated-block-right">
            <h2 class="titre-reference-naturel">
              Notre rôle en tant qu'agence de référencement naturel
            </h2>
            <p>
              Notre travail doit penser aux actions que l'on devra entreprendre
              dans le cadre d’une stratégie globale de votre société. Pourquoi ?
              Le référencement fait partie d’une stratégie digitale qui doit
              s’intégrer dans les objectifs de votre entreprise pour obtenir des
              résultats efficaces. Quels sont vos ambitions chiffrées à moyen et
              long termes ? Quelle est la place du marketing digital ?
              Comptez-vous lancer de nouveaux produits et à quelle échéance ?

              Réduire votre stratégie de marketing digital au référencement
              n’est pas une bonne option. Le succès dépend d’une stratégie
              multicanale qui intègre à la fois les canaux on line et off line.

              Une fois les objectifs de votre entreprise définis , il est plus
              simple de définir des objectifs pour la campagne de référencement
              qui seront en adéquation avec votre stratégie d’entreprise.
            </p>
          </div>
        </div>
      </div>
      <div class="row block-page-seo">
        <div class="referencement-seo">
          <div class="block-referencement-naturel animated-block-left">
            <h2 class="titre-reference-naturel">
              Notre philosophie
            </h2>
            <p>
              Pour nous, l’objectif premier est de réussir à vous faire réaliser
              vos objectifs, de vente, de présence ou de notoriété. Nous
              étudions vos problématiques et analysons votre site. Quels sont
              vos acquis, quels points sont à améliorer et lesquels sont
              inexistants ? Nous nous assurons que tout soit fait pour
              satisfaire vos attentes et celles de votre cible.
            </p>
            <p>
              Nous abordons les choses sous un angle global en travaillant tous
              les leviers (technologie liée au site web, SEO, SEA, remarketing,
              linkbuilding, réseaux sociaux, ..). La plupart des agences web
              sont axés sur la technicité des sites web. Pourtant, une fois un
              site mis en ligne, il faut l’entretenir et l’optimiser pour
              attirer du trafic et que celui-ci soit qualitatif.
            </p>
            <p>
              Que ce soit pour un projet partant de zéro, une refonte ou une
              optimisation d’un site déjà crée, les services que nous proposons
              sauront s’accorder à vos besoins ainsi qu’à votre budget.
            </p>
          </div>
        </div>
      </div>
      <div class="seo-titre-area">
        <h2 class="titre-seo">
          Nos domaines d’action
        </h2>
      </div>
      <div class="accordion-seo">
        <div class="accordion-block">
          <div class="accordion-titre titre">
            1. Recherche de mots clés et recherche de concurrents
          </div>
          <div class="content">
            En utilisant des mots-clés dans vos titres, dans vos balises meta ou
            dans votre contenu, nous pouvons commencer à améliorer votre
            classement tout de suite. La recherche de ces expressions est le
            point de départ pour référencer un site et apparaitre dans les
            premiers résultats de recherche Google.
          </div>
        </div>
        <div class="accordion-block">
          <div class="accordion-titre titre">
            2. Configuration et examen analytique
          </div>
          <div class="content">
            Google Analytics vous permet de surveiller vos progrès, vos
            tendances et votre croissance en matière de référencement, le but
            étant de localiser et de résoudre les éventuels problèmes ou pistes
            d’amélioration. Cela vous permet également de voir comment des mots
            clés spécifiques affectent votre trafic et/ou vos ventes. Google
            Analytics est utile pour définir et suivre les objectifs, générer
            des rapports ou simplement voir d’où viennent vos clients.
          </div>
        </div>
        <div class="accordion-block">
          <div class="accordion-titre titre">
            3. Création de sites
          </div>
          <div class="content">
            Notre équipe de développeurs travaille en collaboration avec le
            service SEO. Nous créons ainsi des sites Web qui reflètent votre
            identité et nous utilisons les dernières technologies en termes de
            développement web. Tous nos sites sont optimisés pour être visibles
            sur Google et d’autres moteurs de recherche.

            Nous fournissons aussi d’autres prestations, du passage au HTTPS au
            référencement local ou au référencement vidéo. Nous sommes
            spécialisés dans la sortie de pénalité, pour des sites qui auraient
            été pénalisés par Google. Enfin, nous proposons de l’hébergement de
            sites sur un de nos serveurs dédié.
          </div>
        </div>
      </div>
      <div class="row block-page-seo">
        <div class="referencement-seo">
          <div class="block-referencement-naturel">
            <h2 class="titre-reference-naturel">
              Pourquoi notre agence est faite pour vous ?
            </h2>
            <p>
              Pour nous le référencement doit être collaboratif. Angela et
              Conrad travailleront main dans la main avec leurs clients, car ce
              sont eux qui sont les plus au courant du secteur d’activité dans
              lequel ils évoluent.
            </p>
            <p>
              Ils connaissent le millieu du commerce, du digital. Nous sommes
              toutefois spécialisés dans les PME / TPE.
            </p>
            <p>
              Nos prestations de référencement s’adaptent à vos besoins. Angela
              et Conrad pourront donc vous proposer un service allant d’une
              simple prestation de recherche de lien à un service complet de
              création de site et de référencement.
            </p>
          </div>
        </div>
      </div>
      <div class="container bouton-fin-page-seo">
        <button class="custom-btn btn-12">
          <span>Nous sommes là pour vous</span><span>Vous désirez un devis ?</span>
        </button>
      </div>
      {# <section id="newsletter">
        {# <div class="picture"></div> #}
        <article class="welcome">
          <h2>
            Ne ratez pas nos infos mensuels
          </h2>
          <p>
            Nos newsletters sont basées sur des informations utiles pour un site
            internet éfficace.
          </p>
          <form action="">
            <input type="email"
              name=""
              id=""
              placeholder="Indiquez-nous votre email ..." />
            <input type="submit" value="Rejoignez-nous" />
          </form>
        </article>
      </section> #}
    </div>
  </main>
{% endblock %}
