{% extends 'base.html.twig' %}
{% block title %}
  Shopify
{% endblock %}
{% block body %}
  <main class="main-block-services">
    {# <div> #}
    {# <div class="circle circle_shopify">
      <div class="logo-seo"></div>
      <div class="page-seo">
        <p>
          Shopify -- Shopify -- Shopify --
        </p>
      </div>
    </div> #}
    <div class="container">
      <div class="row block-page-shopify">
        <div class="creation-shopify">
          <h2 class="titre-reference-naturel">
            Notre philosophie
          </h2>
          <p class="contenu-para-shopify">
            Pour nous, l’objectif premier est de réussir à vous faire réaliser
            vos objectifs, de vente, de présence ou de notoriété. Nous étudions
            vos problématiques et analysons votre site. Quels sont vos acquis,
            quels points sont à améliorer et lesquels sont inexistants ? Nous
            nous assurons que tout soit fait pour satisfaire vos attentes et
            celles de votre cible.
          </p>
          <p class="contenu-para-shopify">
            Nous abordons les choses sous un angle global en travaillant tous
            les leviers (technologie liée au site web, SEO, SEA, remarketing,
            linkbuilding, réseaux sociaux, ..). La plupart des agences web sont
            axés sur la technicité des sites web. Pourtant, une fois un site mis
            en ligne, il faut l’entretenir et l’optimiser pour attirer du trafic
            et que celui-ci soit qualitatif.
          </p>
          <p class="contenu-para-shopify">
            Que ce soit pour un projet partant de zéro, une refonte ou une
            optimisation d’un site déjà crée, les services que nous proposons
            sauront s’accorder à vos besoins ainsi qu’à votre budget.
          </p>
        </div>
      </div>
      <div class="row block-page-shopify">
        <h2 class="titre-reference-naturel">
          Créez votre site e-commerce avec Shopify !
        </h2>
        <p class="contenu-para-shopify">
          Shopify est une plateforme de commerce électronique complète qui
          permet aux entreprises de vendre en ligne avec une gestion simple des
          commandes et des clients. Les marchands Shopify ont accès à des
          milliers d'applications tierces de confiance à partir de l'App Store
          Shopify - les capacités de Shopify sont constamment développées par un
          réseau de partenaires technologiques experts.
        </p>
      </div>
      <div class="row block-page-shopify">
        <h2 class="titre-reference-naturel">
          Nous sommes une agence partenaire Shopify
        </h2>
        <p class="contenu-para-shopify">
          Chez M.K, nous sommes une agence e-commerce partenaire Shopify qui
          aide les marques ambitieuses à concevoir, développer et optimiser des
          sites Shopify exceptionnels. Nous travaillons pour concevoir,
          développer et optimiser la technique sites e-commerce sous Shopify
          afin de maximiser leur croissance et aider les marques à prendre les
          décisions les plus rentables en ligne.
        </p>
        <p class="contenu-para-shopify">
          En tant qu'agence digitale spécialisée dans la technique et le
          développement de site e-commerce, nous travaillons avec des
          concepteurs et développeurs spécialistes des environnements Shopify.
          Nous aidons ainsi les marques à profiter de la puissance de Shopify à
          chaque étape de la conception de leurs sites web. Après des recherches
          approfondies et une analyse des concurrents, nous créons des sites
          e-commerce qui repoussent les limites du web design et sont construits
          avec la technologie de pointe Shopify. Notre offre va bien au-delà de
          la construction initiale, avec nos packages d'optimisation et de
          support, permettant aux clients de s'améliorer, de réagir aux
          commentaires et d'être entièrement pris en charge par une équipe
          numérique experte.
        </p>
      </div>
      <div class="block_image_dashboard">
        <div class="col-12 col-lg-8 text-shopify-area">
          <div class="image-page-shopify">
            <img class="images-shopify"
              src="{{ asset('/images_page_shopify/shopify-dashboard.jpg') }}"
              alt="image_seo" />
          </div>
        </div>
        <div class="col-12 col-lg-4 text_image_shopify">
          <p class="contenu-para-shopify">
            Votre site Internet en première page de Google. La visibilité de
            votre site sur Google est vitale. Au sein de notre agence, notre
            équipe met en place une stratégie de référence propre et de qualité.
            Ainsi nos actions sont pensées à l'épreuve des mises à jour de
            Google. Nous optimisons les performances techniques de votre sitet,
            sa structure, son contenu ainsi que son profil de liens entrants.
            Nous sortons également votre site de toute pénalité algorithmique
            (Pingouin et Panda) et manuelle. Nous vous accompagnons dans la mise
            en place de votre stratégie de référencement naturel et nous vous
            proposons des solutions adaptées à votre budget.
          </p>
        </div>
      </div>
      <div class="block_shopify_proposition">
        <div class="col-12 col-lg-6 text-shopify-area">
          <h2 class="subtitle">
            Ce que nous vous proposons !
          </h2>
          <p class="contenu-para-shopify">
            D'accompagner les start-ups et les DNVB (marques et entreprises 100%
            digitalisées dès leur création) dans la création de leur e-commerce
            sur Shopify, en se différenciant grâce à une interface sur mesure et
            en maximisant leurs ventes.
          </p>
          <p>
            Nous travaillons sur le long-terme avec nos clients pour augmenter
            leurs ventes, leur conseiller des stratégies de croissance,
            optimiser la productivité de leurs équipes, et passer sur Shopify
            Plus pour bénéficier des capacités les plus avancées de la
            plateforme.
          </p>
        </div>
        <div class="col-12 col-lg-6 text-shopify-area">
          <p class="contenu-para-shopify">
            Shopify va au-delà de la “simple” solution technique. Cette
            plateforme transforme le ecommerce en expérience inédite, tant pour
            l’entreprise qui ouvre sa boutique en ligne que pour ses clients.
            C’est pour cette raison que Shopify occupe la première place parmi
            les applications de ecommerce en mode saas.

            Contactez notre équipe, afin d’obtenir un devis personnalisé pour le
            développement ou la refonte de votre boutique en ligne. Privilégiez
            une offre globale : votre e-commerce sera encore plus performant si
            vous actionnez les leviers stratégiques comme le marketing, et le
            SEO qui optimisera la visibilité de votre boutique en ligne. Nous
            vous proposons par ailleurs un accompagnement pour la réalisation de
            vos fiches produits (contenu SEO, photos studio, …)
          </p>
        </div>
      </div>
      <div class="container">
        <div class="grid block_all_price">
          <div class="card">
            <h2 class="card_title">
              Shopify Basic
            </h2>
            {% for prixBasics in prixBasic %}
              <p class="pricing">
                {{ prixBasics.price / (1|number_format(2, '', ',')) }} € <span class="small">
                  /offre
                </span>
              </p>
            {% endfor %}
            <p>
              mensualité 250 €
            </p>

            <ul class="features">
              <li>Boutique en ligne</li>
              <li>Produits illimités</li>
              <li>Codes de réduction</li>
              <li>Certificat SSL gratuit</li>
              <li>Récupération de panier abandonné</li>
              <li>...</li>
            </ul>
            <a href="#" class="cta_btn">Contactez-nous</a>
          </div>
          <div class="card">
            <h2 class="card_title">
              Shopify Premium
            </h2>

            {% for prixPremiums in prixPremium %}
              <p class="pricing">
                {{ prixPremiums.price / (1|number_format(2, '', ',')) }} € <span class="small">
                  /offre
                </span>
              </p>
            {% endfor %}

            <ul class="features">
              <li>Boutique en ligne</li>
              <li>Produits illimités</li>
              <li>Codes de réduction</li>
              <li>Certificat SSL gratuit</li>
              <li>Récupération de panier abandonné</li>
              <li>...</li>
            </ul>
            <a href="#" class="cta_btn">Contactez-nous</a>
          </div>
          <div class="card">
            <h2 class="card_title">
              Shopify Advanced
            </h2>
            {% for prixAdvanceds in prixAdvanced %}
              <p class="pricing">
                {{ prixAdvanceds.price / (1|number_format(2, '', ',')) }} € <span class="small">
                  /offre
                </span>
              </p>
            {% endfor %}
            <p>
              mensualité 500 €
            </p>

            <ul class="features">
              <li>Boutique en ligne</li>
              <li>Produits illimités</li>
              <li>Codes de réduction</li>
              <li>Certificat SSL gratuit</li>
              <li>Récupération de panier abandonné</li>
              <li>...</li>
            </ul>
            <a href="#" class="cta_btn">Contactez-nous</a>
          </div>
        </div>
      </div>
      {# <a href="https://youtu.be/RLReK22LWTo" target="_blank" class="link">
        Watch on youtube <i class="fab fa-youtube"></i>
      </a> #}
    </div>
  </main>
{% endblock %}
