// *,
// ::before,
// ::after {
//     box-sizing: border-box;
//     margin: 0;
//     padding: 0;
// }

.global-test {
    background-image: url("../../public/images/dev.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow-x: hidden;
    height: 100vh;
}

// body {
//     // background: black;
//     font-family: Arial, Helvetica, sans-serif;
//     height: 100vh;

// }

.container-first {
    height: 100vh !important;
}

.container-first h1 {
    // position: absolute;
    // top: 30%;
    // left: 5%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


h1 {
    text-transform: uppercase;
    font-size: 50px;
    color: #f1f1f1;
    font-family: Abril fatface, sans-serif;
}

h1 span {
    position: relative;
}

.container-btns {
    // position: relative;
    top: 50px;
    margin-left: 10%;
}

.btn-first {
    border: 2px solid #171212;
    outline: none;
    // background: transparent;
    font-size: 20px;
    padding: 18px;
    width: 20%;
    // color: #f1f1f1;
    cursor: pointer;
    border-radius: 50px;
    margin-bottom: 2%;
}

.btn-first:nth-child(1) {
    margin-right: 30px;
}

.btn-first:hover {
    transition: all 0.3s ease-in-out;
    background: #201e1e;
    color: white;
}

.lignes {
    position: absolute;
    top: 6%;
    left: 5%;
}

.l1 {
    width: 250px;
    height: 3px;
    background: #f1f1f1;
    border-radius: 5px;
}

.l2 {
    width: 140px;
    height: 3px;
    background: #f1f1f1;
    border-radius: 5px;
    position: relative;
    top: 20px;
}

.logo {
    position: absolute;
    right: 2.9%;
    top: 9%;
    width: 80px;
    height: 80px;
    cursor: pointer;
}

.medias {
    list-style-type: none;
    position: absolute;
    right: 3.3%;
    top: 60%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bulle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    background: #f1f1f1;
    cursor: pointer;
    position: relative;
}

.logo-medias {
    width: 64px;
    height: 64px;
}