// body {
//     background-color: yellow; // ordre de code important !!!!
// }
@use 'faq';
@use '_footer';
@use '_elementsjs';
@use '_nav';
@use 'index';
@use 'contacts';
@use '_nav-responsive-burger';
@use 'equipe';
@use 'services';
@use 'seo';
@use '_newsletter';



@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '_variables';