// .formulaire {
//     width: 30%;

//     .formulaire-block {
//         display: flex;
//         flex-direction: column;
//         line-height: 3;
//         // align-items: center;

//         .information-demande {
//             display: flex;
//             flex-direction: column;
//             margin-top: 5%;
//             line-height: 3;
//         }
//     }
// }