#profil {
    display: flex;
    // justify-content: center;
    line-height: 3.2;
    align-items: center;
    justify-content: center;
}

.informations_client {
    display: flex;
    flex-direction: column;
}


.titi {
    color: black;
    font-family: 'raleway', sans-serif;
    padding: 5%;

}


form>div {
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    line-height: 2.2;
}

#documents_seo,
#documents_ui_ux,
#documents_image_service {
    background: #3479ce;
    border: none;
    border-radius: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 0px 10px 0 0;
    background-color: #C89592;
    transition: all 0.6s;
    color: #FFF;
    font-size: 17px;
    vertical-align: middle;
    text-transform: uppercase;


    &:hover {
        background: #D5ACA9;
        // box-shadow: 0 0 5px #33006e;
    }
}

#documents_submit {
    padding: 2px 10px;
    background-color: #C89592;
    transition: all 0.6s;
}