// @mixin animation_slider () {

//     animation: scroll 15s linear infinite;
//     display: flex;

//     @keyframes textRotation {
//         to {
//             transform: rotate(360deg);
//         }
//     }

//     @keyframes ease-from-right {
//         to {
//             transform: translateX(0);
//         }
//     }

//     @keyframes ease-from-left {
//         to {
//             transform: translateX(0);
//         }
//     }
// }