.presentation-services {
    background: linear-gradient(-50deg, darkgrey, pink);
    background-size: 400% 400%; // 400% 400% is the size of the gradient
    animation: gradient 15s ease infinite; // 15s is the duration of the animation
    // height: 100vh;
    padding-top: 5%;

}


.half-half-image-text {
    padding: 70px 0px;

    h1 {
        color: #800000;
    }

    .block-text {
        margin-top: 4%;
        align-items: center;
    }

    .block-inverse {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }

    .contenu-page-service {
        height: 100%;
        // display: flex;
        align-items: center;
        padding: 35px 0px;

        .contenu-identite-service {
            font-size: 17px;
        }
    }

    .image-communication-services {
        min-height: 320px;
        // height: 25%;
        border-radius: 10px;

    }

    .bouton-souligner {
        width: 100%;


        .button-to-meet {
            display: inline;
            position: relative;
            color: black;
            text-decoration: none;


        }

        .button-to-meet:after {
            content: '';
            display: block;
            position: absolute;
            bottom: -2px; // 4px is the height of the line
            width: 0%; // 0% is the width of the line at the beginning
            left: 0px; // 0px is the distance from the left side of the element
            height: 2px;
            transition: 0.25s cubic-bezier(0.72, 0.78, 0.19, 0.92); // cette ligne permet de faire l'animation du soulignement 
            background: black;


        }

        .button-to-meet:hover:after {
            width: 100%;
        }
    }
}



// Animation du gradient de fond
@keyframes gradient {
    0% {
        background-position: (0% 50%);
    }

    50% {
        background-position: (100% 50%);
    }

    100% {
        background-position: (0% 50%);
    }
}