.block_area_icons_languages {

    .paragraph_services_technologie {
        margin-top: 3%;
        font-family: 'raleway', sans-serif;
    }

    .slider {
        background: white;
        box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
        height: 200px;
        margin: auto;
        overflow: hidden;
        position: relative;
        width: 1260px;

        @media screen and (max-width: 1100px) {
            width: auto;
            height: 140px;

        }

        @media screen and (max-width: 768px) {
            width: auto;
            height: auto;

        }

        @media screen and (max-width:520px) {
            width: auto;
            height: auto;
        }


        .slide-track {
            animation: scroll 15s linear infinite;
            display: flex;

            .slide {
                height: 100px;
                width: 250px;

                .icons_technologies_dev {
                    height: 100px;
                    width: 250px;
                }
            }
        }

        .slider::before,
        .slider::after {
            background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
            content: "";
            height: 100px;
            position: absolute;
            width: 200px;
            z-index: 2;
        }

        .slider::after {
            right: 0;
            top: 0;
            transform: rotateZ(180deg);
        }

        .slider::before {
            left: 0;
            top: 0;
        }
    }

    @keyframes scroll {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(-100%);
        }

        0% {
            transform: translateX(100%);
        }

        100% {
            transform: translateX(-100%);
        }
    }
}